<table>
    <tr>
        <td>Customer Name</td>
        <td>
            <input [(ngModel)]="CustomerModel.CustomerName" type="text">
        </td>
    </tr>
    <tr>
        <td>Customer Code</td>
        <td>
            <input  [(ngModel)]="CustomerModel.CustomerCode" type="text">
        </td>
    </tr>
    <tr>
        <td>Customer Amount</td>
        <td>
            <input [(ngModel)]="CustomerModel.CustomerAmount" type="text">
        </td>
    </tr>
    <input type="submit">
</table>
{{CustomerModel.CustomerAmount}}
{{CustomerModel.CustomerName}}
{{CustomerModel.CustomerCode}}