<table>
    <tr>
        <td>Customer Name</td>
        <td>
            <input [(ngModel)]="CustomerModel.CustomerName" type="text">
        </td>
    </tr>
    <tr>
        <td>Customer Code</td>
        <td>
            <input [(ngModel)]="CustomerModel.CustomerCode" type="text">
        </td>
    </tr>
    <tr>
        <td>Customer Amount</td>
        <td>
            <input [(ngModel)]="CustomerModel.CustomerAmount" type="text">
        </td>
    </tr>
    <input type="submit" (click)="AddCustomer()">
</table>
<!-- {{CustomerModel.CustomerAmount}}
{{CustomerModel.CustomerName}}
{{CustomerModel.CustomerCode}} -->

<table border="2">
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Amount</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let item of CustmerModels">
        <td>
            {{item.CustomerCode}}
        </td>
        <td> {{item.CustomerName}}
        </td>
        <td> {{item.CustomerAmount}}
        </td>
        <td>
            <input type="button" value="Edit" (click)="EditCustomer(item)" />
            <input type="button" value="Delete" (click)="DeleteCustomer(item)" />
        </td>
    </tr>
</table>